---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import SignupForm from '../components/SignupForm.astro';

const seo = {
  title: 'WTM International Women's Day · Barcelona · 2024',
  description: 'Women Techmakers Barcelona International Women's Day Event, at Novotel Barcelona, March 2024',
}
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <h1 class="fade-in">Comming soon</h1>
      <p class="fade-in">We're excited to announce more details of the 2024 IWD so stay tuned!</p>
      <p class="fade-in">Bu we would like remind you that a great way to support us is being part of our sponsors, <a href="https://docs.google.com/presentation/d/1Thi_Za3ROM50Gr58nsSa73V79rtdmEWFhZriC0weZJQ/edit?usp=sharing" target="_blank"> More info here </a></p>
     <!--  <SignupForm /> --> 
    </article>
  </Container>
</Layout>

